@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
      font-family: "Poppins", system-ui, sans-serif;
   }
   body {
      font-family: "Poppins", sans-serif;
   }
   .blob {
      border-radius: 36% 64% 44% 56% / 59% 60% 40% 41%;
   }
}
