@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");
      font-family: "Poppins", system-ui, sans-serif;
   }
   body {
      font-family: "Poppins", sans-serif;
   }
   .blob {
      border-radius: 36% 64% 44% 56% / 59% 60% 40% 41%;
   }
}
